.oakley {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px;
  background-color: #f2f2f2;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: mediumblue;
}

.brief {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display: flex;
  flex-direction: column;
}

.paragraph-a {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 23px;
  font-weight: normal;
}
