.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0 100px;
  background: linear-gradient(to bottom, white 75%, #f2f2f2 25%);
}

.section-title {
  display: flex;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15%;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  z-index: 2;
}

.section-subtitle {
  display: flex;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: center;
  z-index: 2;
}

.video__iframes {
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.video__iframe-a {
  margin-right: 20px;
  height: 316px;
  width: 515px;
}

.video__iframe-b {
  height: 316px;
  width: 515px;
}
